NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_PROVIDER_URL=http://localhost:3002/new-garage

NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=
AUTH_COOKIE_DOMAIN=
NEXT_PUBLIC_MAPBOX_TOKEN=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
